
 .navbar {
  background-color: #DDA350;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center; 
}

.text {
  color: #6C4815; /* 90601C */
}
.text:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.img:hover {
  transform: scale(1.1);
  cursor: pointer;
}